.banner {
  background-position: center;
  background-size: cover;
  padding: 165px 0;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 100;
  padding-bottom: 20px;
}

.btn-light{
  min-width: 100px;
  height: 40px;
  padding: 10px 20px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: small;
  background-color: #ffffff;
  border: none;
}

.btn-light:hover{
  // background-color: rgba(173, 192, 211, 0.61);
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  border: none;
  transition-duration: 0.2;
}

.search-input {
  background-color: white;
  border-radius: 0;
  margin-top: 45px;
  width: 250px;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: small;
  font-weight: lighter;
  line-height: inherit;
  margin-right: auto;

  &.select2 {
    border: none;
    border-radius: 0;
    height: 40px !important;
    margin-top: 0px !important;
  }
}

.search-submit {
  margin-top: 45px !important;
}

.drop-shadow{
  border: 0px;
  box-shadow: 0 3px 4px rgba(128, 128, 128, 0.308);
}

.btn-dark{
  margin-top: 40px;
  color: white;
  background-color: black;
  height: 42px;
  width: 125px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: small;
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
}

.btn-dark:hover {
  background-color: rgba(66, 66, 66, 0.788);
  color: white;
  border: none;
  transition-duration: 0.2;
}


.no-mb {
  margin-bottom: 0 !important;
  margin-top: 40px;
  width: 250px;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: small;
  font-weight: lighter;
  line-height: inherit;
  margin-right: auto;

  &.date {
    margin-top: 45px;
  }
}
