.banner {
  background-position: center;
  background-size: cover;
  padding: 175px 0;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 100px;
  padding-bottom: 20px;
}

.btn-light{
  min-width: 100px;
  padding: 5px 20px;
  font-family: inherit;
  font-size: small;
}

.search-button input{
  margin-top: 40px;
  width: 250px;
  height: 30px;
  font-family: inherit;
  font-size: small;
  font-weight: lighter;
  line-height: inherit;
  margin-right: auto;
}

.drop-shadow{
  border: 0px;
  box-shadow: 0 3px 4px rgba(128, 128, 128, 0.308);
}

.btn-dark{
  margin-top: 40px;
  color: white;
  background-color: black;
  height: 30px;
  width: 125px;
  font-family: inherit;
  font-size: small;
  font-weight: lighter;
}
