<head>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mocah.org/5315364-drone-view-aerial-view-boat-sand-coast-water-sea-ocean-blue-looking-down-nature-outdoors-wallpaper-aerial-view-above-sky-drone-person-travel-public-domain-images.html][IMG]https://mocah.org/thumbs/5315364-drone-view-aerial-view-boat-sand-coast-water-sea-ocean-blue-looking-down-nature-outdoors-wallpaper-aerial-view-above-sky-drone-person-travel-public-domain-images.jpg);">
      <div class="container">
        <h1>Find your escape. Tailored for you.</h1>
        <a class="btn btn-light" href="#">Explore</a>
      </div>
    </div>
        <!-- The form -->
        <div class="container">
          <form class="search-button">
          <div class="d-flex align-items-center mt-5">
            <input type="search-bar" class="me-2 drop-shadow" placeholder="Boat Type" name="search">
            <input class="me-2 drop-shadow" type="date"  placeholder="Start Date" name="search">
            <input class="me-2 drop-shadow" type="date" placeholder="End Date" name="search">
            <button type="submit" class="btn btn-dark me-2" placeholder="submit">Submit</button>
          </div>
          </form>
            </div>
  </body>
</head>
