.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.header {
  position: sticky;
  top: 0;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: medium;
  font-weight: lighter;
  color: black;
}
.nav-link:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
  color: black;
}

.nav-link:active {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.sapphire-inc {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: small;
  font-weight: lighter;
  color: rgb(95, 95, 95);
}

.btn-lighter {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: small;
  background-color: transparent;
}

.btn-lighter:hover {
  color: grey;
}
